!.keep
*.DS_Store
*.swo
*.swp
.bundle
.sass-cache/
bin/stubs
coverage/*
db/*.sqlite3
log/*
rerun.txt
tags
tmp/*
tmp/**/*
.env
.rbenv-gemsets
.ruby-version
vendor

/public/system
/public/content-files/[^.]*
/public/assets
/public/uploads
/public/docs

config/database.yml
config/application.yml
config/newrelic.yml

.yardoc
doc

.project
/bower_components/

.idea/*
dump.rdb

config/pdf_processor.yml
config/sidekiq.yml
config/app_stats.yml
config/app_stats_mock.yml