// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
    background-color: #ffeeee;
    height: 50px;
    border: 1px solid #ab4f00;
}
table {
    border: 3px solid #ab4f00;
}
